*{
	padding: 0;
	margin: 0;
	border: 0;
	transition: .2s linear;
}
:before,:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

.index__content-topsearch-text-container{
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    padding-top: 14vh;
	padding-left: 16vh;
	padding-bottom: 2vh;
}


.index__content-topsearch-images-container{
	display: flex;
	justify-content: space-between;
	height: 10vh;
	margin-left: 14vh;
	
}

.index__content-action-text-container{
	color: #FFF;
    font-size: 28px;
    font-weight: 500;
    padding-top: 21.5vh;
	padding-left: 16vh;
	padding-bottom: 2vh;
}

.index__content-action-images-container{
	display: flex;
	justify-content: space-between;
	margin-left: 14vh;
}
	
.index__content-action-trirdfilm-container{
	margin-top: 2vh;
	margin-bottom: 3vh;
	padding-top: 1vh;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.20);
}

.index__content-romanceDrama-text-container{
	color: #FFF;
    font-size: 28px;
    font-weight: 500;
    padding-top: 5.5vh;
	padding-left: 16vh;
	padding-bottom: 2vh;
}

.index__content-romanceDrama-images-container{
	display: flex;
	justify-content: space-between;
	margin-left: 14vh;
}

.index__content-comedy-text-container{
	color: #FFF;
    font-size: 28px;
    font-weight: 500;
    padding-top: 5.5vh;
	padding-left: 16vh;
	padding-bottom: 2vh;
}

.index__content-comedy-images-container{
	display: flex;
	justify-content: space-between;
	margin-left: 14vh;
}