*{
	padding: 0;
	margin: 0;
	border: 0;
	transition: .2s linear;
}
:before,:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

.index__info-conteiner{
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
	margin-left: 5vh;
	margin-right: 5vh;
}

.index__info-conteiner h4{
	font-size: 2.5vh;
}

.index__info-conteiner h5{
	color: #FFFFFF80;
	font-size: 2vh;
	margin-top: 2vh;
}

.index__company-column-conteiner{
	display: flex;
	flex-direction: column;

}

.index__needHelp-column-conteiner{
	display: flex;
	flex-direction: column;
}

.index__language-column-conteiner{
	display: flex;
	flex-direction: column;
}

.index__language-choise-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	padding-top: 2.5vh;
	margin-top: 2vh;
	width: 20vh;
	height: 5vh;
	border-radius: 40px;
	border: 0.1vh solid rgba(255, 255, 255, 0.20);
	background: rgba(255, 255, 255, 0.20);
	backdrop-filter: blur(20px);
}

.index__socialMedia-column-conteiner{
	display: flex;
	flex-direction: column;
}

.index__downloadOurApp-column-conteiner{
	display: flex;
	flex-direction: column;
}

.index__downloadOurApp-column-conteiner img{
	margin-top: 1vh;
	border-radius: 0.5vh;
}